.help__info {
    &__container {
        &__image--userSearch {
            max-width: 90vw;
            min-height: 40vh;
            max-height: 50vh;
            border: 2px solid white;
            border-radius: 10px;

            &--sixth {
                width: 50%;
            }

            &--seventh {
                width: 40%;
            }

            &--tenth {
                width: 50%;
            }

            &--eleventh {
                width: 50%;
            }

            &--twelfth {
                width: 50%;
            }
        }
    }
}