body.user-repos{
    background-image: $home-body-bg;
    min-height: 100vh;
    background-size: contain;
    color: var(--font-text-color);
    overflow-x: hidden;
    font-family: var(--font-style-regular);
}