.back-btn {
    position: absolute;
    left: 3%;
    top: 5%;
    font-size: 2.5rem;
    border: 3px solid white;
    padding: clamp(0.5rem, 2vw, 1.5rem);
    border-radius: 50%;
    cursor: pointer;
}

.username {
    text-align: center;
    margin-top: 1%;
    font-size: 3rem;

    @include breakpoint(md) {
        font-size: 2.5rem;
    }

    @include breakpoint(sm) {
        font-size: 2.3rem;
    }

    @include breakpoint(xs) {
        font-size: 2.1rem;
    }

    @include breakpoint(xxs) {
        font-size: 2rem;
    }
}

.repos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;

    margin-top: clamp(3rem, 12vh, 8rem);


    &__card {
        width: 90%;
        height: auto;
        min-height: 18vh;

        position: relative;
        border: 1px solid white;
        color: black;
        z-index: 1;

        display: flex;

        background: linear-gradient(220.55deg, #ffe946 0%, #FF7EC7 100%);
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.3s;

        padding-block: 0.5rem;



        &:hover {
            transform: scale(1.02);
            box-shadow: 0px 20px 50px rgb(0, 0, 0);
        }

        &:active:not(:has(.repos__card__button:active)) {
            transform: scale(1);
            box-shadow: 0px 15px 30px rgb(0, 0, 0);
        }

        &__image {
            width: 8%;
            height: auto;
            border-radius: 20px;

            @include breakpoint(xl) {
                width: 12%;
            }

            @include breakpoint(pxl) {
                width: 14%;
            }

            @include breakpoint(lg) {
                width: 16%;
            }

            @include breakpoint(md) {
                width: 18%;
            }

            @include breakpoint(sm) {
                width: 18%;
            }

            @include breakpoint(xs) {
                width: 18%;
            }

            @include breakpoint(xxs) {
                width: 30%;
                height: auto;
                aspect-ratio: 1;
                object-fit: contain;
            }
        }

        &__button {
            width: 3%;
            aspect-ratio: 1;
            align-self: center;
            position: absolute;
            border-radius: 10px;
            right: 1%;
            z-index: 30;
            cursor: pointer;
            transition: all 0.3s;
            outline: none;

            @include breakpoint(pxl) {
                width: 4%;
            }

            @include breakpoint(lg) {
                width: 4%;
            }

            @include breakpoint(md) {
                width: 6%;
            }

            @include breakpoint(sm) {
                width: 7%;
            }

            @include breakpoint(xs) {
                width: 9%;
                bottom: 0;
                right: 0;
            }

            @include breakpoint(xxs) {
                width: 9%;
            }

            &:hover {
                transform: scale(1.08);
            }

            &__icon {
                font-size: 1.5rem;

                @include breakpoint(xs) {
                    font-size: 1.1rem;
                }

                @include breakpoint(xxs) {
                    font-size: 1rem;
                }
            }
        }

        &__info-container {
            flex: 1;
            min-width: 0;

            display: flex;
            flex-direction: column;
            justify-content: center;

            padding-block: 0.5rem;


            &__repo-name {
                align-self: center;
                font-size: 1.3rem;
                margin-top: 0.3%;
                color: white;
            }

            &__info-group {
                width: 70%;
                align-self: center;
                margin-top: 0.5rem;

                display: grid;
                grid-template-columns: repeat(3, minmax(0, 1fr));
                grid-template-rows: auto auto;
                justify-items: center;

                gap: 0.75rem 1rem;

                @include breakpoint(xs) {
                    width: 85%;
                    align-self: flex-start;
                    margin-left: 8%;
                }

                @include breakpoint(xxs) {
                    width: 85%;
                    align-self: flex-start;
                    margin-left: 8%;
                    margin-top: 0.75rem;

                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    gap: 0.75rem;
                }


                &__column {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    gap: 0.25rem;

                    &:last-child {
                        grid-column: 1 / 4;
                        grid-row: 2;
                        margin-top: 0.25rem;
                    }


                    &__title {
                        font-size: 1.1rem;

                        @include breakpoint(xs) {
                            font-size: 1rem;
                        }
                    }

                    &__content {
                        @include breakpoint(xs) {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }
}