@font-face {
    font-family: 'Titilium-Title';
    src: url('../../assets/fonts/TitilliumWeb-SemiBoldItalic.ttf');
}

@font-face {
    font-family: 'Titilium-SemiBold';
    src: url('../../assets/fonts/TitilliumWeb-SemiBold.ttf');
}

@font-face {
    font-family: 'Ttilium-Regular';
    src: url('../../assets/fonts/TitilliumWeb-Regular.ttf');
}