:root {
  --font-size-base: 1rem;
  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.75rem;
  --font-size-h4: 1.5rem;
  --font-size-h5: 1.25rem;
  --font-size-h6: 1rem;
  --font-size-paragraph: 1.25rem;
  --font-size-small: 0.8rem;
  --font-size-list-item: 1.2rem;
  --container-vertical-margin: 6vh;
  --container-horizontal-margin: 10vw;
  --font-text-color: #ffffff;
  --font-text-hover-color: #c1c1c1;
  --item-bg-color: linear-gradient(90deg, rgba(237,225,167,1) 0%, rgba(255,255,255,1) 0%, rgba(233,233,233,1) 32%, rgba(142,142,142,1) 83%);
  --button-bg: #009fd9;
  --button-bg-hover: #007fad;
  --font-style-logo: "Titilium-Title";
  --font-style-semiBold: "Titilium-SemiBold";
  --font-style-regular: "Ttitilium-Regular";
}

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Titilium-Title";
  src: url("../../assets/fonts/TitilliumWeb-SemiBoldItalic.ttf");
}
@font-face {
  font-family: "Titilium-SemiBold";
  src: url("../../assets/fonts/TitilliumWeb-SemiBold.ttf");
}
@font-face {
  font-family: "Ttilium-Regular";
  src: url("../../assets/fonts/TitilliumWeb-Regular.ttf");
}
body {
  background-image: url("../../assets/images/body_background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--font-text-color);
  overflow-x: hidden;
  font-family: var(--font-style-regular);
}
body h1 {
  font-size: var(--font-size-h1);
}
body h2 {
  font-size: var(--font-size-h2);
}
body p {
  font-size: var(--font-size-paragraph);
}

.header {
  width: 100vw;
  height: 10vh;
  display: flex;
  position: relative;
  z-index: 5;
  justify-content: space-between;
  align-items: center;
}
.header > * {
  z-index: 10;
}
.header__filter {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  top: 0;
  background-color: #f9f9f9;
  opacity: 0.1;
  left: 0;
  z-index: 2;
}
.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  margin-left: 2%;
  text-decoration: none;
  color: var(--font-text-color);
}
.header__link__image {
  width: 80%;
  height: 150%;
}
.header__link__title {
  font-size: var(--font-size-h1);
  font-family: var(--font-style-logo);
  letter-spacing: 2px;
}
.header__nav {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav__list {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 15%;
  justify-content: center;
  align-items: center;
}
.header__nav__list__item {
  font-size: var(--font-size-list-item);
  font-family: var(--font-style-semiBold);
  letter-spacing: 1px;
}
.header__nav__list__item__link {
  text-decoration: none;
  color: var(--font-text-color);
  transition: 0.2s;
}
.header__nav__list__item__link:hover {
  color: var(--font-text-hover-color);
}
.header__btn-container {
  width: 18%;
  height: 100%;
  margin-right: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__btn-container > button {
  width: 40%;
  height: 65%;
  background-color: var(--button-bg);
  outline: none;
  border: 0;
  border-radius: 30px;
  transition: 0.3s;
  color: var(--font-text-color);
}
.header__btn-container > button:hover {
  cursor: pointer;
  background-color: var(--button-bg-hover);
}

.welcome {
  width: 100vw;
  margin-top: var(--container-vertical-margin);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome__title {
  font-size: var(--font-size-h1);
  text-align: center;
}
.welcome__paragraph {
  text-align: center;
  margin-top: 2%;
  font-size: var(--font-size-list-item);
}
.welcome__login-btn {
  margin-top: 3%;
  width: 25%;
  height: 7vh;
  font-size: var(--font-size-list-item);
  border-radius: 10px;
  color: var(--font-text-color);
  background-color: var(--button-bg);
  border: 0;
  outline: none;
  transition: 0.3s;
}
.welcome__login-btn:hover {
  cursor: pointer;
  background-color: var(--button-bg-hover);
}

.benefit {
  width: 94vw;
  margin-top: 15vh;
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
.benefit__title {
  text-align: center;
}
.benefit__item {
  display: flex;
  width: 100%;
  gap: 5%;
}
.benefit__item__content {
  width: 45%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 10%;
  margin-top: 9%;
  margin-right: 5%;
}
.benefit__item__content__title {
  line-height: 120%;
}
.benefit__item__content__description {
  line-height: 150%;
}
.benefit__item__content__button-container {
  margin-top: 6%;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  gap: 20%;
}
.benefit__item__content__button-container__button {
  outline: none;
  width: 35%;
  height: 70%;
  border: 2px solid white;
  background: transparent;
  color: var(--font-text-color);
  font-size: 1rem;
  transition: all 0.3s;
}
.benefit__item__content__button-container__button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.benefit__item__image {
  width: 60%;
  height: 90vh;
  border-radius: 15px;
}
.benefit__item__image:first-of-type {
  width: 60%;
}
.benefit__second-item {
  flex-direction: row-reverse;
}
.benefit__second-item > .benefit__item__content {
  margin-right: 0;
  margin-left: 5%;
  margin-top: 15%;
  align-self: center;
}/*# sourceMappingURL=main.css.map */