* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.loader {
  width: 48px;
  height: 48px;
  position: relative;
  margin-top: 10%;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 48em;
  height: 48em;
  background-image: radial-gradient(circle 10px, #FFF 100%, transparent 0), radial-gradient(circle 10px, #FFF 100%, transparent 0), radial-gradient(circle 10px, #FFF 100%, transparent 0), radial-gradient(circle 10px, #FFF 100%, transparent 0), radial-gradient(circle 10px, #FFF 100%, transparent 0), radial-gradient(circle 10px, #FFF 100%, transparent 0), radial-gradient(circle 10px, #FFF 100%, transparent 0), radial-gradient(circle 10px, #FFF 100%, transparent 0);
  background-position: 0em -18em, 0em 18em, 18em 0em, -18em 0em, 13em -13em, -13em -13em, 13em 13em, -13em 13em;
  background-repeat: no-repeat;
  font-size: 0.5px;
  border-radius: 50%;
  animation: blast 1s ease-in infinite;
}

.loader::after {
  font-size: 1px;
  background: #fff;
  animation: bounce 1s ease-in infinite;
}

@keyframes bounce {
  0%, 100% {
    font-size: 0.75px;
  }
  50% {
    font-size: 1.5px;
  }
}
@keyframes blast {
  0%, 40% {
    font-size: 0.5px;
  }
  70% {
    opacity: 1;
    font-size: 4px;
  }
  100% {
    font-size: 6px;
    opacity: 0;
  }
}
@font-face {
  font-family: "Titilium-Title";
  src: url("../../assets/fonts/TitilliumWeb-SemiBoldItalic.ttf");
}
@font-face {
  font-family: "Titilium-SemiBold";
  src: url("../../assets/fonts/TitilliumWeb-SemiBold.ttf");
}
@font-face {
  font-family: "Titilium-Regular";
  src: url("../../assets/fonts/TitilliumWeb-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../../assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Light";
  src: url("../../assets/fonts/Poppins-Light.ttf");
}
:root {
  --font-size-base: 1rem;
  --font-size-h1: 3.5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.75rem;
  --font-size-h4: 1.5rem;
  --font-size-h5: 1.25rem;
  --font-size-h6: 1.1rem;
  --font-size-paragraph: 1.25rem;
  --font-size-large: 3rem;
  --font-size-medium: 1.6rem;
  --font-size-small: 0.8rem;
  --font-size-list-item: 1.2rem;
  --container-vertical-margin: 6vh;
  --container-horizontal-margin: 10vw;
  --font-text-color: #ffffff;
  --font-text-hover-color: #c1c1c1;
  --item-bg-color: linear-gradient(90deg, rgba(237,225,167,1) 0%, rgba(255,255,255,1) 0%, rgba(233,233,233,1) 32%, rgba(142,142,142,1) 83%);
  --button-bg: #009fd9;
  --button-bg-hover: #007fad;
  --font-style-logo: "Titilium-Title";
  --font-style-semiBold: "Titilium-SemiBold";
  --font-style-regular: "Titilium-Regular";
  --font-style-login-regular: "Poppins-Regular";
  --font-style-login-light: "Poppins-Light";
}

body.home {
  background-image: url("../../assets/images/body_background.webp");
  background-size: contain;
  color: var(--font-text-color);
  overflow-x: hidden;
  font-family: var(--font-style-regular);
}
body.home h1 {
  font-size: var(--font-size-h1);
}
body.home h2 {
  font-size: var(--font-size-h2);
}
body.home p {
  font-size: var(--font-size-paragraph);
}

.header {
  width: 100vw;
  height: 10vh;
  display: flex;
  position: relative;
  z-index: 5;
  justify-content: space-between;
  align-items: center;
}
.header > * {
  z-index: 10;
}
.header__filter {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  top: 0;
  background-color: #f9f9f9;
  opacity: 0.1;
  left: 0;
  z-index: 2;
}
.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  margin-left: 2%;
  text-decoration: none;
  color: var(--font-text-color);
}
.header__link__image {
  width: 80%;
  height: 150%;
}
.header__link__title {
  font-size: var(--font-size-h1);
  font-family: var(--font-style-logo);
  letter-spacing: 2px;
}
.header__nav {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav__list {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 15%;
  justify-content: center;
  align-items: center;
}
.header__nav__list__item {
  font-size: var(--font-size-list-item);
  font-family: var(--font-style-semiBold);
  letter-spacing: 1px;
}
.header__nav__list__item__link {
  text-decoration: none;
  color: var(--font-text-color);
  transition: 0.2s;
}
.header__nav__list__item__link:hover {
  color: var(--font-text-hover-color);
}
.header__btn-container {
  width: 18%;
  height: 100%;
  margin-right: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__btn-container > button {
  width: 40%;
  height: 65%;
  background-color: var(--button-bg);
  outline: none;
  border: 0;
  border-radius: 30px;
  transition: 0.3s;
  color: var(--font-text-color);
  font-size: 1.1rem;
}
.header__btn-container > button:hover {
  cursor: pointer;
  background-color: var(--button-bg-hover);
}
.header__user-container {
  width: 15%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  border: 1px solid white;
  background-color: rgba(127, 120, 120, 0.5450980392);
  margin-right: 3%;
  border-radius: 20px;
  transition: all 0.3s;
  position: relative;
}
.header__user-container::after {
  content: "";
  background: linear-gradient(#ea8d8d, #a890fe);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s;
  border-radius: inherit;
}
.header__user-container:hover {
  cursor: pointer;
}
.header__user-container:hover > .header__user-container__nickname {
  text-decoration: underline;
}
.header__user-container:hover > .header__user-container__arrow::before {
  opacity: 1;
  visibility: visible;
}
.header__user-container__user-icon {
  font-size: 1.5rem;
}
.header__user-container__nickname {
  font-size: 1.5rem;
}
.header__user-container__arrow {
  transition: all 0.2s;
}
.header__user-container__arrow::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}
.header__user-container__active-background::after {
  opacity: 1;
}
.header__user-container__user-menu {
  position: absolute;
  bottom: -10vh;
  width: 98%;
  height: 15vh;
  padding-top: 5%;
  z-index: -2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease;
  background: linear-gradient(#ea8d8d, #a890fe);
  opacity: 0;
  visibility: hidden;
}
.header__user-container__user-menu__item {
  width: 100%;
  text-align: center;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  font-size: 1.3rem;
}
.header__user-container__user-menu__item:first-child {
  border-bottom: 1px solid white;
}
.header__user-container__user-menu__item:hover {
  background: rgba(0, 0, 0, 0.1);
}
.header__user-container__user-menu.visible {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 4vh);
  pointer-events: auto;
}

.fa-angle-rotated {
  transform: rotate(180deg);
}

.welcome {
  width: 100vw;
  margin-top: var(--container-vertical-margin);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome__title {
  font-size: var(--font-size-h1);
  text-align: center;
}
.welcome__paragraph {
  text-align: center;
  margin-top: 2%;
  font-size: var(--font-size-list-item);
}
.welcome__login-btn {
  margin-top: 3%;
  width: 25%;
  height: 7vh;
  font-size: var(--font-size-list-item);
  border-radius: 10px;
  color: var(--font-text-color);
  background-color: var(--button-bg);
  border: 0;
  outline: none;
  transition: 0.3s;
}
.welcome__login-btn:hover {
  cursor: pointer;
  background-color: var(--button-bg-hover);
}

.benefit {
  width: 94vw;
  margin-top: 15vh;
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
.benefit__title {
  text-align: center;
}
.benefit__item {
  display: flex;
  width: 100%;
  gap: 5%;
}
.benefit__item__content {
  width: 45%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 10%;
  margin-top: 9%;
  margin-right: 5%;
}
.benefit__item__content__title {
  line-height: 120%;
}
.benefit__item__content__description {
  line-height: 150%;
}
.benefit__item__content__button-container {
  margin-top: 6%;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  gap: 20%;
}
.benefit__item__content__button-container__button {
  outline: none;
  width: 35%;
  height: 70%;
  border: 2px solid white;
  background: transparent;
  color: var(--font-text-color);
  font-size: 1rem;
  transition: all 0.3s;
}
.benefit__item__content__button-container__button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.benefit__item__image {
  width: 60%;
  height: 80vh;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.benefit__item__image:first-of-type {
  width: 60%;
}
.benefit__second-item {
  flex-direction: row-reverse;
}
.benefit__second-item > .benefit__item__content {
  margin-right: 0;
  margin-left: 5%;
  margin-top: 15%;
  align-self: center;
}

.testimonials {
  width: 94vw;
  margin-left: 2vw;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testimonials__title {
  width: 45%;
  font-size: var(--font-size-h1);
  line-height: 125%;
  text-align: center;
  align-self: center;
}
.testimonials__group {
  width: 100%;
  display: flex;
  gap: 5vh;
  justify-content: space-around;
  align-items: center;
}
.testimonials__group__card {
  margin-top: 5%;
  width: 35%;
  height: 60vh;
  background-color: #d7e6ee;
  color: black;
  position: relative;
  border-radius: 10px;
}
.testimonials__group__card__content {
  margin-left: 5%;
  margin-top: 6%;
}
.testimonials__group__card__content__subtitle {
  font-size: var(--font-size-h5);
  width: 90%;
}
.testimonials__group__card__content__stars {
  width: 100%;
  margin-top: 1%;
}
.testimonials__group__card__content__stars svg {
  width: 24px;
}
.testimonials__group__card__content__description {
  width: 80%;
  margin-top: 10%;
  word-spacing: 2px;
  line-height: 135%;
  font-size: var(--font-size-medium);
}
.testimonials__group__card__content__name {
  position: absolute;
  bottom: 5%;
  font-size: var(--font-size-h6);
}

.footer {
  width: 100%;
  margin-top: 12%;
  width: 100%;
  display: flex;
  position: relative;
  height: 70vh;
  background-color: #252424;
}
.footer__left {
  width: 25%;
  height: 100%;
  position: relative;
}
.footer__left__link {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column;
  text-decoration: none;
  margin-top: 20%;
  position: relative;
  z-index: 3;
}
.footer__left__link__image {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/Inquiro_logo.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.footer__left__link__image__title {
  margin-bottom: 10%;
  color: white;
}
.footer__left__copyright {
  position: absolute;
  left: 4%;
  bottom: 2%;
  font-size: 0.9rem;
}
.footer__left__vertical-line {
  width: 100%;
  height: 60%;
  border-right: 3px solid white;
  position: absolute;
  top: 45%;
  transform: translate(0, -50%);
  z-index: 1;
}
.footer__list-container {
  width: 100%;
  display: flex;
  gap: 10%;
  position: relative;
  margin-top: 8%;
  justify-content: center;
  position: relative;
}
.footer__list-container__list {
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5%;
}
.footer__list-container__list__title {
  font-size: var(--font-size-list-item);
}
.footer__list-container__list__item {
  display: block;
  font-size: var(--font-size-base);
  transition: all 0.3s;
}
.footer__list-container__list__item:hover {
  cursor: pointer;
  text-decoration: underline;
}
.footer__list-container__social-media {
  position: absolute;
  right: 0;
  bottom: 3%;
  display: flex;
  gap: 5%;
  justify-content: center;
  width: 15%;
}
.footer__list-container__social-media span {
  cursor: pointer;
  display: block;
  font-size: 1.1rem;
}
.footer__horizontal-line {
  position: absolute;
  width: 95%;
  border-top: 1px solid white;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 8%;
}

.login__element__hidden {
  display: none;
}

body.login {
  background-image: url("../../assets/images/Shiny_Overlay.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-x: hidden;
  font-family: var(--font-style-login-regular);
}

.login-container {
  width: 25%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-container__title {
  margin-top: 70%;
  color: white;
  font-size: var(--font-size-h1);
  font-family: var(--font-style-login-light);
}
.login-container__subtitle {
  margin-top: 3%;
  font-size: var(--font-size-h5);
  color: rgba(135, 135, 135, 0.669);
}
.login-container__username {
  margin-top: 8%;
}
.login-container__password {
  margin-top: 3%;
}
.login-container__input {
  width: 60%;
  height: 5%;
  border-radius: 10px;
  background-color: rgba(46, 65, 86, 0.4274509804);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 0;
  padding-left: 3%;
  outline: none;
  color: white;
  font-size: 1rem;
}
.login-container__input:focus {
  border: 0;
}
.login-container__input:focus::-moz-placeholder {
  -moz-transition: 0.5s;
  transition: 0.5s;
  color: white;
}
.login-container__input:focus::placeholder {
  transition: 0.5s;
  color: white;
}
.login-container__checkbox-container {
  margin-top: 3%;
  width: 60%;
  color: rgba(135, 135, 135, 0.669);
  display: flex;
  gap: 2%;
  align-items: center;
}
.login-container__checkbox-container__text {
  transition: all 0.3s;
}
.login-container__checkbox-container__checkbox {
  transform: scale(1.5);
}
.login-container__checkbox-container__checkbox:checked ~ span {
  color: white;
}
.login-container__login-btn {
  margin-top: 3%;
  width: 62%;
  height: 5%;
  background-color: #2289ae;
  color: white;
  font-size: var(--font-size-list-item);
  letter-spacing: 1px;
  outline: none;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.login-container__login-btn:hover {
  background-color: rgba(32, 115, 143, 0.9529411765);
}
.login-container__signup-option {
  margin-top: 5%;
  color: rgb(99, 99, 181);
  transition: all 0.3s;
}
.login-container__signup-option:hover {
  color: rgb(148, 148, 246);
}
.login-container__login-status {
  margin-top: 6%;
  color: rgba(255, 0, 0, 0.767);
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.login-container__login-status.login-error-status {
  opacity: 1;
  visibility: visible;
}

body.signup {
  background-image: url("../../assets/images/Shiny_Overlay.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-x: hidden;
  font-family: var(--font-style-login-regular);
}

.signup-container {
  width: 25%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.signup-container__title {
  margin-top: 70%;
  color: white;
  font-size: var(--font-size-h1);
  font-family: var(--font-style-login-light);
}
.signup-container__subtitle {
  margin-top: 3%;
  font-size: var(--font-size-h5);
  color: rgba(135, 135, 135, 0.669);
}
.signup-container__input-container {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
  gap: 5%;
}
.signup-container__input-container__input {
  width: 60%;
  height: 20%;
  border-radius: 10px;
  background-color: rgba(46, 65, 86, 0.4274509804);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 0;
  padding-left: 3%;
  outline: none;
  color: white;
  font-size: 1rem;
}
.signup-container__input-container__input:focus {
  border: 0;
}
.signup-container__input-container__input:focus::-moz-placeholder {
  -moz-transition: 0.5s;
  transition: 0.5s;
  color: white;
}
.signup-container__input-container__input:focus::placeholder {
  transition: 0.5s;
  color: white;
}
.signup-container__signup-btn {
  margin-top: 8%;
  width: 62%;
  height: 5%;
  background-color: #2289ae;
  color: white;
  font-size: var(--font-size-list-item);
  letter-spacing: 1px;
  outline: none;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.signup-container__signup-btn:hover {
  background-color: rgba(32, 115, 143, 0.9529411765);
}
.signup-container__signup-status {
  text-align: center;
  display: block;
}
.signup-container__signup-status.status-hidden {
  opacity: 0;
  visibility: hidden;
}
.signup-container__signup-status.status-error {
  color: rgba(255, 0, 0, 0.767);
}
.signup-container__signup-status.status-error::before {
  content: "The email already exists";
}
.signup-container__signup-status.status-successfull {
  color: rgba(2, 195, 2, 0.832);
}
.signup-container__signup-status.status-successfull::before {
  content: "The user has been successfully created";
}

body.user-search {
  background-image: url("../../assets/images/body_background.webp");
  background-size: contain;
  color: var(--font-text-color);
  overflow-x: hidden;
  font-family: var(--font-style-regular);
}
body.user-search h1 {
  font-size: var(--font-size-h1);
}
body.user-search h2 {
  font-size: var(--font-size-h2);
}
body.user-search p {
  font-size: var(--font-size-paragraph);
}

.search-container {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: black;
}
.search-container__placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 20%;
  opacity: 0.5;
  font-size: 1.3rem;
  transition: all 0.3s;
  width: 6%;
  white-space: nowrap;
}
.search-container__input {
  width: 60%;
  height: 65%;
  background-color: rgb(229, 229, 229);
  border: 0;
  outline: none;
  padding-left: 2%;
  border-radius: 10px;
  font-size: 1.5rem;
  display: block;
  transition: all 0.2s;
}
.search-container__input:focus {
  border-top: 4px solid #8f44fd;
  border-left: 4px solid #8f44fd;
  border-bottom: 4px solid #8f44fd;
}
.search-container__input ~ .search-container__placeholder.up {
  transform: translate(0, -3vh);
  color: white;
  opacity: 1;
  background-color: rgb(59, 59, 59);
  border-radius: 5px;
  font-size: 1.3rem;
}
.search-container__button {
  width: 5%;
  height: 65%;
  border-radius: 15px;
  outline: none;
  border: 1px solid black;
  transition: all 0.2s;
  background-color: rgb(229, 229, 229);
}
.search-container__button__icon {
  font-size: 2rem;
}
.search-container__button:hover {
  cursor: pointer;
  background-color: rgba(222, 222, 222, 0.783);
}

.input-error {
  opacity: 0;
  visibility: hidden;
  display: block;
  font-size: 1.3rem;
  color: rgb(184, 2, 2);
  transition: all 0.3s;
  margin-left: 18%;
}
.input-error.error-visible {
  opacity: 1;
  visibility: visible;
}

.search-results {
  width: 100%;
  min-height: 100vh;
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}
.search-results__card {
  width: 90%;
  height: 22vh;
  display: flex;
  align-items: center;
  gap: 1%;
  background-color: #cfcaab;
  transition: all 0.2s;
  border-radius: 10px;
  color: black;
}
.search-results__card:hover {
  cursor: pointer;
  filter: brightness(0.9);
}
.search-results__card:active {
  filter: brightness(0.8);
}
.search-results__card__image {
  width: 15%;
  height: 100%;
  margin-left: 1%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 70%;
     object-position: 50% 70%;
}
.search-results__card__username {
  display: flex;
  width: 30%;
  height: 80%;
  align-items: center;
  border-right: 2px solid black;
  font-size: 2.5rem;
}
.search-results__card__info-container {
  display: flex;
  width: 50%;
  height: 50%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 25%;
  align-items: center;
  justify-content: center;
}
.search-results__card__info-container__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  font-size: 1.2rem;
}

.popup-container {
  border: 3px solid white;
  width: 60vh;
  height: 70vh;
  position: fixed;
  z-index: 6;
  border-radius: 10px;
  color: #232323;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(192, 177, 117);
}
.popup-container.show-popup {
  opacity: 1;
  visibility: visible;
}
.popup-container__exit-popup {
  position: absolute;
  right: 2%;
  top: 1%;
  font-size: 2.8rem;
  cursor: pointer;
}
.popup-container__title {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
.popup-container__image {
  border-radius: 10px;
}
.popup-container__info-container {
  width: 90%;
  height: 35%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  justify-items: center;
  margin-top: 2%;
}
.popup-container__info-container__item-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.3rem;
}
.popup-container__info-container__item-group:last-child {
  grid-column: 1/4;
  grid-row: 2;
}
.popup-container__info-container__item-group__title {
  margin: 0;
}
.popup-container__info-container__item-group__item {
  margin-top: 15%;
}
.popup-container__button-group {
  margin-top: 7%;
  margin-bottom: 3%;
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: space-around;
}
.popup-container__button-group__link {
  display: block;
  width: 40%;
  height: 100%;
}
.popup-container__button-group__link__button {
  width: 100%;
  height: 100%;
  outline: none;
  border: 0;
  border-radius: 25px;
  background: linear-gradient(220.55deg, #7CF7FF 0%, #4B73FF 100%);
  cursor: pointer;
  transition: all 0.3s;
}
.popup-container__button-group__link__button:hover {
  filter: brightness(0.8);
}

.grey-filter {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -5;
}
.grey-filter.show-filter {
  z-index: 5;
  -webkit-backdrop-filter: brightness(0.5);
          backdrop-filter: brightness(0.5);
}

body.user-repos {
  background-image: url("../../assets/images/body_background.webp");
  min-height: 100vh;
  background-size: contain;
  color: var(--font-text-color);
  overflow-x: hidden;
  font-family: var(--font-style-regular);
}
body.user-repos h1 {
  font-size: var(--font-size-h1);
}
body.user-repos h2 {
  font-size: var(--font-size-h2);
}
body.user-repos p {
  font-size: var(--font-size-paragraph);
}

.back-btn {
  position: absolute;
  left: 3%;
  top: 5%;
  font-size: 2.5rem;
  border: 3px solid white;
  padding: 23px;
  border-radius: 50%;
  cursor: pointer;
}

.username {
  text-align: center;
  margin-top: 1%;
}

.repos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  gap: 3vh;
}
.repos__card {
  width: 90%;
  height: 15vh;
  position: relative;
  border: 1px solid white;
  color: black;
  z-index: 1;
  display: flex;
  background: linear-gradient(220.55deg, #ffe946 0%, #FF7EC7 100%);
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
}
.repos__card:hover {
  transform: scale(1.02);
  box-shadow: 0px 20px 50px rgb(0, 0, 0);
}
.repos__card:active:not(:has(.repos__card__button:active)) {
  transform: scale(0.95);
  box-shadow: 0px 15px 30px rgb(0, 0, 0);
}
.repos__card__image {
  width: 8%;
  height: 100%;
  border-radius: 20px;
}
.repos__card__button {
  height: 20%;
  align-self: center;
  position: absolute;
  border-radius: 10px;
  right: 1%;
  z-index: 30;
  cursor: pointer;
  transition: all 0.3s;
  outline: none;
}
.repos__card__button:hover {
  transform: scale(1.08);
}
.repos__card__button__icon {
  font-size: 1.5rem;
}
.repos__card__info-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.repos__card__info-container__repo-name {
  align-self: center;
  font-size: 1.3rem;
  margin-top: 0.3%;
  color: white;
}
.repos__card__info-container__info-group {
  width: 70%;
  height: 80%;
  margin-top: 1%;
  align-self: center;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}
.repos__card__info-container__info-group__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20%;
}
.repos__card__info-container__info-group__column:last-child {
  grid-column: 1/4;
  grid-row: 2;
  margin-top: 2%;
}
.repos__card__info-container__info-group__column__title {
  font-size: 1.1rem;
}/*# sourceMappingURL=main.css.map */