.search-results {
    width: 100%;
    min-height: 100vh;
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    gap: 1.5vh;

    &__card {
        width: 80%;
        height: 18vh;
        display: flex;
        align-items: center;
        gap: 1%;
        background: linear-gradient(220.55deg, #B7DCFF 0%, #FFA4F6 100%);
        transition: all 0.2s;
        border-radius: 10px;
        color: black;

        &:hover {
            cursor: pointer;
            filter: brightness(0.9);
        }

        &:active {
            filter: brightness(0.8);
        }

        &__image {
            width: 10%;
            height: 90%;
            margin-left: 1%;
            object-fit: cover;
            object-position: 50% 70%;
        }

        &__username {
            display: flex;
            width: 30%;
            height: 80%;
            align-items: center;
            border-right: 2px solid black;
            font-size: 2.5rem
        }

        &__info-container {
            display: flex;
            width: 50%;
            height: 50%;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            gap: 25%;
            align-items: center;
            justify-content: center;

            &__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5%;
                font-size: 1.2rem;
            }
        }
    }
}