.reposearch-results {
    width: 100%;
    margin-top: 3%;
    overflow: visible;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(30vh, auto);
    justify-items: center;
    position: relative;

    @include breakpoint(md) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(sm) {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    @include breakpoint(xs) {
        grid-template-columns: 1fr;
    }

    @include breakpoint(xxs) {
        grid-template-columns: 1fr;
    }

    &__incorrect-format {
        position: absolute;
        left: 50%;
        transform: translateY(-50%);
        font-size: 2rem;
    }

    &__card {
        background: linear-gradient(220.55deg, #FFBB89 0%, #7B6AE0 100%);
        width: clamp(19rem, 30vw, 24rem);
        height: auto;
        margin-top: 20%;
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        transition: 0.3s ease;

        @include breakpoint(md) {
            width: 40vw;
        }

        @include breakpoint(sm) {
            flex: 1;
        }

        @include breakpoint(xs) {
            width: 85vw;
        }

        @include breakpoint(xxs) {
            flex: 1;
        }

        &:hover {
            cursor: pointer;
            scale: 1.1;
            box-shadow: 19px 30px 4px -7px rgba(0, 0, 0, 0.1);
        }

        &__image {
            margin-top: 5%;
            border-radius: 15px;
            width: 70%;
            aspect-ratio: 1/1;
        }

        &__title {
            width: 100%;
            overflow-wrap: anywhere;
            word-break: break-word;
            margin-top: 5%;
            font-size: clamp(1.4rem, 2vw, 1.8rem);
            text-align: center;

            @include breakpoint(xs) {
                font-size: 1.5rem;
            }

            @include breakpoint(xxs) {
                font-size: 1.5rem;
            }
        }

        &__info-container {
            margin-top: 8%;
            width: 80%;
            height: auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto auto;
            grid-template-areas:
                "field0 field1 field2"
                "field3 . field4";
            gap: 2rem;
            justify-items: center;
            align-items: center;

            &__pair-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &.field0 {
                    grid-area: field0;
                }

                &.field1 {
                    grid-area: field1;
                }

                &.field2 {
                    grid-area: field2;
                }

                &.field3 {
                    grid-area: field3;
                    margin-left: 100%;
                }

                &.field4 {
                    margin-right: 100%;
                    grid-area: field4;
                }

                &__title {
                    font-size: clamp(1rem, 1.6vw, 1.2rem);
                    text-align: center;
                    white-space: nowrap;

                    @include breakpoint(xs) {
                        font-size: 1.2rem;
                    }
                }

                &__value {
                    margin-top: 10%;
                    font-size: clamp(0.8rem, 1.6vw, 1.2rem);
                    text-align: center;

                    @include breakpoint(xs) {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}