.repo-popup {
    border: 3px solid white;
    width: clamp(28rem, 65vw, 40rem);
    height: auto;
    position: fixed;
    z-index: 6;
    border-radius: 10px;
    color: #232323;
    left: 50%;
    top: 50%;
    padding-bottom: 2.5rem;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(220.55deg, #FF8570 0%, #418CB7 100%);
    gap: 5%;

    @include breakpoint(xs) {
        width: 90vw;
    }
    @include breakpoint(xxs) {
        width: 90vw;
    }

    &__exit-popup {
        position: absolute;
        right: 2%;
        top: 1%;
        font-size: clamp(2rem, 5vw, 3rem);
        cursor: pointer;
    }

    &.show-popup {
        opacity: 1;
        visibility: visible;
    }

    &__title {
        margin-top: 5%;
        font-size: clamp(1.8rem, 4vw, 2.8rem);
        text-align: center;

        @include breakpoint(xs) {
            width: 75%;
        }
        @include breakpoint(xxs) {
            width: 75%;
        }
    }

    &__description {
        width: 90%;
        text-align: center;
        line-height: 1.5em;
    }

    &__info-title {
        margin-top: 8%;
        font-size: clamp(1.5rem, 3vw, 2rem);
    }

    &__repoinfo-container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        gap: clamp(3rem, 8vw, 7rem);

        @include breakpoint(xs) {
            flex-direction: column;
            align-items: center;
            gap: 0;
            margin-top: 2rem;
        }
        @include breakpoint(xxs) {
            flex-direction: column;
            align-items: center;
            gap: 0;
            margin-top: 2rem;
        }

        &__data {
            margin-top: 5rem;
            width: 30%;
            min-height: 30vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;

            @include breakpoint(xs) {
                width: 80%;
                margin-top: 0;
                gap: 0;
                align-items: center;
                min-height: 20vh;
            }
            @include breakpoint(xxs) {
                width: 80%;
                margin-top: 0;
                gap: 0;
                align-items: center;
                min-height: 20vh;
            }

            &__field {
                display: flex;
                gap: 0.5rem;
                align-items: center;
                flex: 1;

                &__icon {
                    font-size: clamp(1.5rem, 3vw, 2rem);
                }

                &__text {
                    display: flex;
                    gap: 5px;
                    white-space: nowrap;

                    @include breakpoint(xs) {
                        font-size: 1.2rem;
                    }

                    @include breakpoint(xxs) {
                        font-size: 1.1rem;
                    }

                    & span:first-of-type {
                        font-weight: bold;
                        white-space: nowrap;
                    }
                }
            }
        }
    }

    &__buttons-container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 17%;

        &__button {
            width: 30%;
            height: clamp(3rem, 7vw, 3.5rem);;
            outline: none;
            border-radius: 10px;
            cursor: pointer;
            background: linear-gradient(220.55deg, #FFED46 0%, #FF7EC7 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.1rem;
            border: 1px solid #fff;
            transition: 0.3s ease;
            text-decoration: none;
            color: #000;
            margin-top: 4rem;

            @include breakpoint(sm) {
                font-size: 1rem;
            }
            @include breakpoint(xs) {
                width: 35%;
                font-size: 1rem;
            }
            @include breakpoint(xxs) {
                width: 35%;
                font-size: 1rem;
            }

            &:hover {
                filter: brightness(0.8);
            }

            &:active {
                scale: 0.9;
            }
        }
    }
}