.logout-confirmation {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 35vw;
    height: 30vh;
    border-radius: 10px;
    background-color: white;
    color: black;
    z-index: 9;

    &__title {
        width: 100%;
        font-size: 1.5rem;
        text-align: center;
        margin-top: 10%;
    }

    &__button-container {
        width: 70%;
        height: 20%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 12%;

        &__button {
            width: 30%;
            height: 80%;
            border: 0;
            border-radius: 15px;
            outline: none;
            background-color: #000000;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            color: #fff;
            transition: 0.3s ease;

            &:hover {
                scale: 1.05;
            }

            & span {
                position: relative;
                z-index: 6;
                font-size: 1.1rem;
            }

            &--discard,
            &--confirm {
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: inherit; // coincide con el borde del botón
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0.3s ease, visibility 0.3s ease;
                    z-index: 0;
                }

                &:hover::before {
                    opacity: 1;
                    visibility: visible;
                }
            }

            &--discard::before {
                background: linear-gradient(220.55deg, #ff0000 0%, #470000 100%);
            }

            &--confirm::before {
                background: linear-gradient(220.55deg, #8a88fb 0%, #d079ee 100%);
            }
        }

    }
}


.logout-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    backdrop-filter: brightness(0.5);
    z-index: 8;
}